.bg-wrap {
  height: 100vh;
  width: 100vw;
  background: url('@/assets/images/login_bg.webp') no-repeat;
  background-size: cover;
  //   opacity: 0.7;
  filter: blur(4px);
}
.login-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 800px;
  width: 800px;
  height: 400px;

  display: flex;
  justify-content: center;
  .login-banner {
    background: url('@/assets/images/login_bg.webp') no-repeat;
    background-size: cover;
    filter: brightness(110%);
    border: 1px solid #fff;
    border-radius: 6px 0 0 6px;
  }

  .login-form-wrap {
    background-color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 32px 16px 16px 16px;
    opacity: 1;
    border-radius: 0 6px 6px 0;
  }
}
