* {
  margin: 0;
  padding: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  min-height: 100vh;
  // background-color: orchid;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > div {
    flex: 1;
  }
}

.pointer {
  cursor: pointer;
}

iframe {
  border: none;
}
:root {
  --headerHeight: 48px;
  --menuWidth: 200px;
  // 菜单收起宽度
  --menuCollapsedWidth: 80px;
}

// // 覆盖 recharts tooltip默认的黑框
// .recharts-default-tooltip {
//   box-shadow: none !important;
//   border: none !important;
// }

// 炫彩背景
.dazzle {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: 300%, 300%;
  animation: animatedgradient 5s linear alternate infinite;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 10%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
