.default-layout {
  .header {
    padding: 0 16px;
  }

  .left-sider {
    min-height: 100vh;
    .logo {
      height: 32px;
      margin: 16px;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .content {
    margin: 24px 16px;
    padding: 24px;
    min-height: 280;
  }

  .menu-item-badge {
    color: inherit;
  }
}
